{% if pagination.pages > 0 %}
  <nav role="navigation" class="flex items-center justify-center mx-auto my-8 grow-0">
    {% if pagination.previous %}
      <a
        href="{{ pagination.previous.url }}"
        class="px-4 py-2 mx-1 font-medium text-gray-600 border border-gray-600 rounded-sm hover:bg-gray-600 hover:text-white"
      >
        &larr;
      </a>
    {% endif %}

    {% for part in pagination.parts %}
      {% if part.is_link %}
        <a
          href="{{part.url}}"
          class="px-4 py-2 mx-1 font-medium text-gray-600 border border-gray-600 rounded-sm hover:bg-gray-600 hover:text-white"
        >
          {{ part.title }}
        </a>
      {% else %}
        <span
          class="px-4 py-2 mx-1 font-medium text-gray-600 bg-gray-200 border border-gray-600 rounded-sm"
        >
          {{ part.title }}
        </span>
      {% endif %}
    {% endfor %}

    {% if pagination.next %}
      <a
        class="px-4 py-2 mx-1 font-medium text-gray-600 border border-gray-600 rounded-sm hover:bg-gray-600 hover:text-white"
        href="{{ pagination.next.url }}"
      >
        &rarr;
      </a>
    {% endif %}
  </nav>
{% endif %}
