{% if pagination.pages > 0 %}
  <nav role='navigation' class='mx-auto my-8 flex grow-0 items-center justify-center'>
    {% if pagination.previous %}
      <a
        href='{{ pagination.previous.url }}'
        class='mx-1 rounded-sm border border-gray-600 px-4 py-2 font-medium text-gray-600 hover:bg-gray-600 hover:text-white'
      >
        &larr;
      </a>
    {% endif %}

    {% for part in pagination.parts %}
      {% if part.is_link %}
        <a
          href='{{part.url}}'
          class='mx-1 rounded-sm border border-gray-600 px-4 py-2 font-medium text-gray-600 hover:bg-gray-600 hover:text-white'
        >
          {{ part.title }}
        </a>
      {% else %}
        <span
          class='mx-1 rounded-sm border border-gray-600 bg-gray-200 px-4 py-2 font-medium text-gray-600'
        >
          {{ part.title }}
        </span>
      {% endif %}
    {% endfor %}

    {% if pagination.next %}
      <a
        class='mx-1 rounded-sm border border-gray-600 px-4 py-2 font-medium text-gray-600 hover:bg-gray-600 hover:text-white'
        href='{{ pagination.next.url }}'
      >
        &rarr;
      </a>
    {% endif %}
  </nav>
{% endif %}
