{% comment %} Product card {% endcomment %}
<div class='flex w-full flex-col px-3 py-6 transition-all duration-300 ease-in-out hover:translate-y-[-0.25rem]'>
  {% comment %} Start card {% endcomment %}
  <div
    style='background-color: {{ background_colour }}'
    class='flex grow flex-col overflow-hidden rounded-lg border shadow-lg transition-all duration-300 ease-in-out hover:shadow-2xl'
  >
    <a href='{{ product.url }}'>
      {% if product.featured_image %}
        <div class='h-80 overflow-hidden hover:cursor-pointer'>
          <img
            src='{{ product.featured_image | image_url }}'
            height='450'
            width='450'
            alt='{{ product.title }}'
            class='h-full w-full object-contain p-4 transition-all duration-300 ease-in-out hover:scale-105 hover:transform hover:cursor-pointer'
          >
        </div>

      {% else %}
        {{ 'product-1' | placeholder_svg_tag: 'w-full h-full object-contain' }}
      {% endif %}
    </a>
    {% comment %} Card Description {% endcomment %}
    <div class='flex grow flex-col gap-4 p-4'>
      <span class='text-sm uppercase text-gray-light'>{{ product.vendor }}®</span>

      <a href='{{ product.url }}' class='text-gray-dark text-sm font-medium uppercase hover:cursor-pointer'>
        {{ product.title | remove: 'Tedroka' | remove: '®' }}
      </a>

      <div class='mt-auto flex flex-wrap items-start gap-4 laptop:justify-between'>
        {% render 'buy-now-read-more-form',
          product: product,
          classes: 'flex flex-col md:flex-row flex-wrap laptop:flex-col mt-8 gap-4'
        %}
        <p class='border-md mt-auto rounded-full border border-secondary p-1 text-xl font-bold text-gray-darker shadow-md'>
          {{ product.price | money }}
        </p>
      </div>
    </div>
  </div>
</div>
