{% assign main_menu_navigation_links = linklists['main-menu-navigation-links'].links %}

{% assign collection_handle = link.url | split: '/' | last %}
{% assign collection = collections[collection_handle] %}
<header class="px-2 py-4 laptop:py-6 bg-primary laptop:px-4">
  {% comment %} Laptop Screen {% endcomment %}

  <nav class="items-center justify-between hidden mx-auto max-w-7xl laptop:flex">
    {% comment %} Left link container {% endcomment %}

    <div class="flex gap-4 font-bold text-white uppercase left-link-container">
      <ul class="flex items-center gap-4 list-none">
        {% for link in main_menu_navigation_links %}
          <li class="text-white uppercase">
            <a
              href="{{ link.url }}"
              class="flex p-2 transition-all duration-300 ease-in-out rounded-md hover:bg-white hover:text-primary hover:cursor-pointer"
            >
              {{ link.title }}
              {% if link.type == 'collection_link' %}
                {% render 'chevron-svg' %}
              {% endif %}
            </a>
          </li>
        {% endfor %}
      </ul>
      {% render 'logo' %}
    </div>

    {% comment %} Right links container {% endcomment %}
    <ul class="flex gap-2 ml-auto nav-links-container">
      <li class="flex items-center px-2 hover:cursor-pointer transition-all duration-300 ease-in-out hover:scale-[1.5]">
        <a
          class="main-menu-link flex p-1.5 text-white"
          href="{{ routes.cart_url }}"
        >
          {%- render 'cart-svg' -%}
        </a>
      </li>
      <li class="flex items-center px-2 hover:cursor-pointer transition-all duration-300 ease-in-out hover:scale-[1.5]">
        <a
          class="main-menu-link flex p-1.5 text-white"
          href="{{ routes.search_url }}"
        >
          {%- render 'icon-search' -%}
        </a>
      </li>
      <li class="flex items-center px-2 hover:cursor-pointer transition-all duration-300 ease-in-out hover:scale-[1.5]">
        <a
          class="main-menu-link flex p-1.5 text-white"
          href="https://tedroka.nl/apps/parcelpanel"
        >
          {% render 'track-order-svg' %}
        </a>
      </li>
    </ul>
  </nav>

  {% comment %} MOBILE {% endcomment %}
  <nav class="relative flex flex-col mx-auto max-w-7xl laptop:hidden">
    {% render 'hamburger-menu', menu_class: 'relative z-50' %}
    <ul class="absolute z-20 flex flex-col min-h-[100vh] gap-2 px-4 py-2 text-white rounded-md bg-secondary top-10">
      {% for link in main_menu_navigation_links %}
        <li class="inline-block text-base uppercase rounded-md hover:bg-white hover:text-primary p2">
          <a class="flex" href="{{ link.url }}">
            {{- link.title }}
            {% if link.type == 'collection_link' %}
              {% render 'chevron-svg' %}
            {% endif %}
          </a>
        </li>
      {% endfor %}
    </ul>
  </nav>
</header>

<script>
  // the check id is declared in the hamburger-menu.liquid snippet
  const hamburger = document.getElementById('check');
  const navContainerMobile = document.querySelector('.navigation-container-mobile');

  const toggleSubMenu = (flagElement, submenuElement) => {
    if (flagElement) {
      submenuElement.classList.remove('hidden');
      submenuElement.style.width = '100%';
    } else {
      submenuElement.classList.add('hidden');
      submenuElement.style.width = '0';
    }
  };
  hamburger.addEventListener('click', () => {
    toggleSubMenu(hamburger.checked, navContainerMobile);
    console.log(hamburger);
    console.log(hamburger.checked);
  });
</script>
