<footer class="relative bg-primary">
  <div class="max-w-screen-xl px-4 py-16 mx-auto sm:px-6 lg:px-8">
    <div class="grid grid-cols-1 gap-8 lg:grid-cols-3">
      <div>
        <img src="{{ 'logo.png' | asset_url }}" class="h-6 mr-5 sm:h-9" alt="logo">
        <p class="max-w-xs mt-4 text-sm text-gray-200">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas, accusantium.
        </p>
        <div class="flex mt-8 space-x-6 text-gray-200">
          <a class="hover:opacity-75" href="{{ settings.footer_facebook_url }}" target="_blank" rel="noreferrer">
            <span class="sr-only"> Facebook </span>
            {% render 'icon-facebook' %}
          </a>
          <a class="hover:opacity-75" href="{{ settings.footer_instagram_url }}" target="_blank" rel="noreferrer">
            <span class="sr-only"> Instagram </span>
            {% render 'icon-instagram' %}
          </a>
          <a class="hover:opacity-75" href="{{ settings.footer_twitter_url }}" target="_blank" rel="noreferrer">
            <span class="sr-only"> Twitter </span>
            {% render 'icon-twitter' %}
          </a>
        </div>
      </div>
      <div class="grid grid-cols-1 gap-8 lg:col-span-2 sm:grid-cols-2 lg:grid-cols-4">
        <div>
          <p class="font-medium text-white">Tedroka</p>
          <nav class="flex flex-col mt-4 space-y-2 text-sm text-gray-300">
            <a class="hover:opacity-75" href="{{ settings.footer_about_url }}"> About </a>
            <a class="hover:opacity-75" href="{{ settings.footer_team_url }}"> Meet the Team </a>
            <a class="hover:opacity-75" href="{{ settings.footer_history_url }}"> History </a>
            <a class="hover:opacity-75" href="{{ settings.footer_careers_url }}"> Careers </a>
          </nav>
        </div>
        <div>
          <p class="font-medium text-white">Diensten</p>
          <nav class="flex flex-col mt-4 space-y-2 text-sm text-gray-300">
            <a class="hover:opacity-75" href="{{ settings.footer_coaching_url }}"> 1on1 Coaching </a>
            <a class="hover:opacity-75" href="{{ settings.footer_review_url }}"> Company Review </a>
            <a class="hover:opacity-75" href="{{ settings.footer_accounts_url }}"> Accounts Review </a>
            <a class="hover:opacity-75" href="{{ settings.footer_hr_url }}"> HR Consulting </a>
            <a class="hover:opacity-75" href="{{ settings.footer_seo_url }}"> SEO Optimisation </a>
          </nav>
        </div>
        <div>
          <p class="font-medium text-white">Snelle Links</p>
          <nav class="flex flex-col mt-4 space-y-2 text-sm text-gray-300">
            <a class="hover:opacity-75" href="{{ settings.footer_contact_url }}"> Contact </a>
            <a class="hover:opacity-75" href="{{ settings.footer_faq_url }}"> FAQs </a>
            <a class="hover:opacity-75" href="{{ settings.footer_chat_url }}"> Live Chat </a>
          </nav>
        </div>
        <div>
          <p class="font-medium text-white">Ons Beleid</p>
          <nav class="flex flex-col mt-4 space-y-2 text-sm text-gray-300">
            <a class="hover:opacity-75" href="{{ settings.footer_privacy_url }}"> Privacy Policy </a>
            <a class="hover:opacity-75" href="{{ settings.footer_terms_url }}"> Terms &amp; Conditions </a>
            <a class="hover:opacity-75" href="{{ settings.footer_returns_url }}"> Returns Policy </a>
            <a class="hover:opacity-75" href="{{ settings.footer_accessibility_url }}"> Accessibility </a>
          </nav>
        </div>
      </div>
    </div>
    <p class="mt-8 text-xs text-gray-200">
      © 2024 {{ shop.name }}, built by <a href="https://www.marlondev.io" class="underline">MarlonDev.io</a>
    </p>
  </div>
</footer>

{% schema %}
{
  "name": "Footer",
  "settings": [
    {
      "type": "url",
      "id": "footer_facebook_url",
      "label": "Facebook URL"
    },
    {
      "type": "url",
      "id": "footer_instagram_url",
      "label": "Instagram URL"
    },
    {
      "type": "url",
      "id": "footer_twitter_url",
      "label": "Twitter URL"
    },
    {
      "type": "url",
      "id": "footer_github_url",
      "label": "GitHub URL"
    },
    {
      "type": "url",
      "id": "footer_dribbble_url",
      "label": "Dribbble URL"
    },
    {
      "type": "url",
      "id": "footer_about_url",
      "label": "About URL"
    },
    {
      "type": "url",
      "id": "footer_team_url",
      "label": "Meet the Team URL"
    },
    {
      "type": "url",
      "id": "footer_history_url",
      "label": "History URL"
    },
    {
      "type": "url",
      "id": "footer_careers_url",
      "label": "Careers URL"
    },
    {
      "type": "url",
      "id": "footer_coaching_url",
      "label": "1on1 Coaching URL"
    },
    {
      "type": "url",
      "id": "footer_review_url",
      "label": "Company Review URL"
    },
    {
      "type": "url",
      "id": "footer_accounts_url",
      "label": "Accounts Review URL"
    },
    {
      "type": "url",
      "id": "footer_hr_url",
      "label": "HR Consulting URL"
    },
    {
      "type": "url",
      "id": "footer_seo_url",
      "label": "SEO Optimisation URL"
    },
    {
      "type": "url",
      "id": "footer_contact_url",
      "label": "Contact URL"
    },
    {
      "type": "url",
      "id": "footer_faq_url",
      "label": "FAQs URL"
    },
    {
      "type": "url",
      "id": "footer_chat_url",
      "label": "Live Chat URL"
    },
    {
      "type": "url",
      "id": "footer_privacy_url",
      "label": "Privacy Policy URL"
    },
    {
      "type": "url",
      "id": "footer_terms_url",
      "label": "Terms & Conditions URL"
    },
    {
      "type": "url",
      "id": "footer_returns_url",
      "label": "Returns Policy URL"
    },
    {
      "type": "url",
      "id": "footer_accessibility_url",
      "label": "Accessibility URL"
    }
  ]
}
{% endschema %}
