<footer id='footer' class='relative mt-auto bg-primary'>
  <div class='relative z-50 mx-auto max-w-screen-xl px-4 py-16 sm:px-6 lg:px-8'>
    <div class='grid grid-cols-1 gap-8 lg:grid-cols-3'>
      <div>
        <a href='/'>
          <img src='{{ 'logo.png' | asset_url }}' class='h-6 sm:h-9 mr-5' alt='logo'>
        </a>
        <p class='mt-4 max-w-xs text-sm text-gray-200'>
          <form action='{{ routes.search_url }}' method='get' class='flex items-center'>
            <input
              type='search'
              name='q'
              placeholder='Zoeken'
              class='search-input rounded-l border border-gray-300 px-3 py-1 focus:outline-none focus:ring-2 focus:ring-blue-500'
              required
            >
            <button type='submit' class='search-button rounded-r border border-gray-300 bg-gray-200 px-3 py-1'>
              <svg
                class='h-6 w-6 text-gray-500'
                fill='none'
                stroke='currentColor'
                viewBox='0 0 24 24'
                xmlns='http://www.w3.org/2000/svg'
              >
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-4.35-4.35M16.65 10.8A5.65 5.65 0 1010.8 16.65 5.65 5.65 0 0016.65 10.8z"></path>
              </svg>
            </button>
          </form>
        </p>
        <div class='mt-8 flex space-x-6 text-gray-200'>
          <a class='hover:opacity-75' href='{{ settings.footer_facebook_url }}' target='_blank' rel='noreferrer'>
            <span class='sr-only'> Facebook </span>
            {% render 'icon-facebook' %}
          </a>
          <a class='hover:opacity-75' href='{{ settings.footer_instagram_url }}' target='_blank' rel='noreferrer'>
            <span class='sr-only'> Instagram </span>
            {% render 'icon-instagram' %}
          </a>
          <a class='hover:opacity-75' href='{{ settings.footer_twitter_url }}' target='_blank' rel='noreferrer'>
            <span class='sr-only'> Twitter </span>
            {% render 'icon-twitter' %}
          </a>
        </div>
      </div>
      <div class='grid grid-cols-1 gap-8 sm:grid-cols-2 lg:col-span-2 lg:grid-cols-4'>
        <div>
          <p class='font-medium text-white'>Tedroka</p>
          <nav class='mt-4 flex flex-col space-y-2 text-sm text-gray-300'>
            <a class='hover:opacity-75' href='{{ settings.footer_about_url }}'> About </a>
            <a class='hover:opacity-75' href='{{ settings.footer_team_url }}'> Meet the Team </a>
            <a class='hover:opacity-75' href='{{ settings.footer_history_url }}'> History </a>
            <a class='hover:opacity-75' href='{{ settings.footer_careers_url }}'> Careers </a>
          </nav>
        </div>
        <div>
          <p class='font-medium text-white'>Producten</p>
          <nav class='mt-4 flex flex-col space-y-2 text-sm text-gray-300'>
            <a class='hover:opacity-75' href='/collections/all-tedroka-products'>Alle Producten</a>
            <a class='hover:opacity-75' href='/collections/c-fly-drone'>Tedroka&reg; C-Fly-Drones</a>
            <a class='hover:opacity-75' href='/collections/drones'>Drones</a>
            <a class='hover:opacity-75' href='/collections/Accessoires'>Accessoires</a>
          </nav>
        </div>
        <div>
          <p class='font-medium text-white'>Snelle Links</p>
          <nav class='mt-4 flex flex-col space-y-2 text-sm text-gray-300'>
            <a class='hover:opacity-75' href='/pages/contact'> Contact </a>
          </nav>
        </div>
        <div>
          <p class='font-medium text-white'>Ons Beleid</p>
          <nav class='mt-4 flex flex-col space-y-2 text-sm text-gray-300'>
            <a class='hover:opacity-75' href='/pages/our-privacy-policy'>Privacybeleid</a>
            <a class='hover:opacity-75' href='/pages/conditions-policy'>Algemene Voorwaarden</a>
            <a class='hover:opacity-75' href='/pages/retour-policy'>Retourbeleid</a>
            <a class='hover:opacity-75' href='/pages/our-shipment-policy'>Verzendingsbeleid</a>
            <a class='hover:opacity-75' href='/pages/faq'>Veelgestelde vragen</a>
          </nav>
        </div>
      </div>
    </div>
    <div class='mt-8 text-xs text-gray-200'>
      <p>Tedroka B.V</p>
      <p>Koningsdreef 9, 3261 NJ, Oud-Beijerland</p>
      <p>BTW-nummer: NL865652739B01</p>
      <p>KvK-nummer: 91422957</p>
      <p class='mt-4'>© 2024 {{ shop.name }}, built by <a href='https://www.marlondev.io' class='underline'>MarlonDev.io</a></p>
    </div>
  </div>
</footer>