<footer id="footer" class="relative mt-auto bg-primary">
  <div class="relative z-50 max-w-screen-xl px-4 py-16 mx-auto sm:px-6 lg:px-8">
    <div class="grid grid-cols-1 gap-8 lg:grid-cols-3">
      <div>
        <a href="/">
          <img src="{{ 'logo.png' | asset_url }}" class="h-6 mr-5 sm:h-9" alt="logo">
        </a>
        <p class="max-w-xs mt-4 text-sm text-gray-200">
          <form action="{{ routes.search_url }}" method="get" class="flex items-center">
            <input
              type="search"
              name="q"
              placeholder="Zoeken"
              class="px-3 py-1 border border-gray-300 rounded-l search-input focus:outline-none focus:ring-2 focus:ring-blue-500"
              required
            >
            <button type="submit" class="px-3 py-1 bg-gray-200 border border-gray-300 rounded-r search-button">
              <svg
                class="w-6 h-6 text-gray-500"
                fill="none"
                stroke="currentColor"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-4.35-4.35M16.65 10.8A5.65 5.65 0 1010.8 16.65 5.65 5.65 0 0016.65 10.8z"></path>
              </svg>
            </button>
          </form>
        </p>
        <div class="flex mt-8 space-x-6 text-gray-200">
          <a class="hover:opacity-75" href="{{ settings.footer_facebook_url }}" target="_blank" rel="noreferrer">
            <span class="sr-only"> Facebook </span>
            {% render 'icon-facebook' %}
          </a>
          <a class="hover:opacity-75" href="{{ settings.footer_instagram_url }}" target="_blank" rel="noreferrer">
            <span class="sr-only"> Instagram </span>
            {% render 'icon-instagram' %}
          </a>
          <a class="hover:opacity-75" href="{{ settings.footer_twitter_url }}" target="_blank" rel="noreferrer">
            <span class="sr-only"> Twitter </span>
            {% render 'icon-twitter' %}
          </a>
        </div>
      </div>
      <div class="grid grid-cols-1 gap-8 lg:col-span-2 sm:grid-cols-2 lg:grid-cols-4">
        <div>
          <p class="font-medium text-white">Tedroka</p>
          <nav class="flex flex-col mt-4 space-y-2 text-sm text-gray-300">
            <a class="hover:opacity-75" href="{{ settings.footer_about_url }}"> About </a>
            <a class="hover:opacity-75" href="{{ settings.footer_team_url }}"> Meet the Team </a>
            <a class="hover:opacity-75" href="{{ settings.footer_history_url }}"> History </a>
            <a class="hover:opacity-75" href="{{ settings.footer_careers_url }}"> Careers </a>
          </nav>
        </div>
        <div>
          <p class="font-medium text-white">Producten</p>
          <nav class="flex flex-col mt-4 space-y-2 text-sm text-gray-300">
            <a class="hover:opacity-75" href="/collections/all-tedroka-products">Alle Producten</a>
            <a class="hover:opacity-75" href="/collections/c-fly-drone">Tedroka&reg; C-Fly-Drones</a>
            <a class="hover:opacity-75" href="/collections/drones">Drones</a>
            <a class="hover:opacity-75" href="/collections/Accessoires">Accessoires</a>
          </nav>
        </div>
        <div>
          <p class="font-medium text-white">Snelle Links</p>
          <nav class="flex flex-col mt-4 space-y-2 text-sm text-gray-300">
            <a class="hover:opacity-75" href="/pages/contact"> Contact </a>
          </nav>
        </div>
        <div>
          <p class="font-medium text-white">Ons Beleid</p>
          <nav class="flex flex-col mt-4 space-y-2 text-sm text-gray-300">
            <a class="hover:opacity-75" href="/pages/our-privacy-policy">Privacybeleid</a>
            <a class="hover:opacity-75" href="/pages/conditions-policy">Algemene Voorwaarden</a>
            <a class="hover:opacity-75" href="/pages/retour-policy">Retourbeleid</a>
            <a class="hover:opacity-75" href="/pages/our-shipment-policy">Verzendingsbeleid</a>
            <a class="hover:opacity-75" href="/pages/faq">Veelgestelde vragen</a>
          </nav>
        </div>
      </div>
    </div>
    <p class="mt-8 text-xs text-gray-200">
      © 2024 {{ shop.name }}, built by <a href="https://www.marlondev.io" class="underline">MarlonDev.io</a>
    </p>
  </div>
</footer>

{% schema %}
{
  "name": "Footer",
  "settings": [
    {
      "type": "url",
      "id": "footer_facebook_url",
      "label": "Facebook URL"
    },
    {
      "type": "url",
      "id": "footer_instagram_url",
      "label": "Instagram URL"
    },
    {
      "type": "url",
      "id": "footer_twitter_url",
      "label": "Twitter URL"
    },
    {
      "type": "url",
      "id": "footer_github_url",
      "label": "GitHub URL"
    },
    {
      "type": "url",
      "id": "footer_dribbble_url",
      "label": "Dribbble URL"
    },
    {
      "type": "url",
      "id": "footer_about_url",
      "label": "About URL"
    },
    {
      "type": "url",
      "id": "footer_team_url",
      "label": "Meet the Team URL"
    },
    {
      "type": "url",
      "id": "footer_history_url",
      "label": "History URL"
    },
    {
      "type": "url",
      "id": "footer_careers_url",
      "label": "Careers URL"
    },
    {
      "type": "url",
      "id": "footer_coaching_url",
      "label": "1on1 Coaching URL"
    },
    {
      "type": "url",
      "id": "footer_review_url",
      "label": "Company Review URL"
    },
    {
      "type": "url",
      "id": "footer_accounts_url",
      "label": "Accounts Review URL"
    },
    {
      "type": "url",
      "id": "footer_hr_url",
      "label": "HR Consulting URL"
    },
    {
      "type": "url",
      "id": "footer_seo_url",
      "label": "SEO Optimisation URL"
    },
    {
      "type": "url",
      "id": "footer_contact_url",
      "label": "Contact URL"
    },
    {
      "type": "url",
      "id": "footer_faq_url",
      "label": "FAQs URL"
    },
    {
      "type": "url",
      "id": "footer_chat_url",
      "label": "Live Chat URL"
    },
    {
      "type": "url",
      "id": "footer_privacy_url",
      "label": "Privacy Policy URL"
    },
    {
      "type": "url",
      "id": "footer_terms_url",
      "label": "Terms & Conditions URL"
    },
    {
      "type": "url",
      "id": "footer_returns_url",
      "label": "Returns Policy URL"
    },
    {
      "type": "url",
      "id": "footer_accessibility_url",
      "label": "Accessibility URL"
    }
  ]
}
{% endschema %}
