{% schema %}
{
  "name": "Highlighted Collections",
  "settings": [
    {
      "type": "collection",
      "id": "collection_1",
      "label": "Collection 1"
    },
    {
      "type": "collection",
      "id": "collection_2",
      "label": "Collection 2"
    },
    {
      "type": "collection",
      "id": "collection_3",
      "label": "Collection 3"
    }
  ]
}
{% endschema %}

{% assign collection_drones = collections.Drones %}
{% assign collection_accessoires = collections.accessoires %}
{% assign collection_c_fly_drones = collections['c-fly-drone'] %}
{% assign all_tedroka_products = collections['all-tedroka-products'] %}

<div class="bg-gray-100 py-[50px]">
  <h2 class="mb-6 text-4xl font-semibold text-center md:text-5xl">Bekijk onze Tedroka&reg; producten en collecties.</h2>
  <div class="px-4 mt-28 sm:px-10">
    <div class="w-full mx-auto max-w-7xl">
      <div class="grid items-center gap-10 lg:grid-cols-2">
        <div class="">
          <h2 class="mb-6 text-3xl font-semibold md:text-4xl">Pakketten voor Tedroka&reg; C-Fly Drones</h2>
          <p>
            Bij Tedroka bieden we verschillende pakketten voor onze hoogwaardige C-Fly drones, speciaal ontworpen voor
            zowel hobbyisten als professionals.
          </p>
          {% render 'read-more-btn', item: collection_c_fly_drones %}
        </div>
        <div class="grid gap-8 sm:grid-cols-2">
          {% for product in collection_c_fly_drones.products %}
            <div class=" block text-center hover:translate-y-[-10px] hover:shadow-3xl bg-white shadow-[0_2px_22px_-4px_rgba(93,96,127,0.2)] transition-all rounded-xl p-6">
              <a
                class=""
                href="{{ product.url }}"
              >
                <figure
                  class=""
                >
                  <img
                    class="inline"
                    src="{{ product.featured_image | image_url: width: '500px' }}"
                    alt="{{ product.title }}"
                  >
                </figure>
              </a>
              {% render 'read-more-btn-no-bg', item: product %}
            </div>
          {% endfor %}
        </div>
      </div>
    </div>

    <div class="px-4 sm:px-10 mt-28">
      <div class="w-full mx-auto max-w-7xl">
        <div class="grid items-center gap-10 md:grid-cols-2">
          <div class="w-full h-full">
            {% assign backpack_img = collection_accessoires.products[4].featured_image | image_url: width: '502.5px' %}
            <img
              src="{{ backpack_img}}"
              alt="Premium Benefits"
              class="object-cover w-full h-full overflow-hidden"
              width="502.5"
              height="502.5"
            >
          </div>
          <div class="ml-auto">
            <h2 class="mb-6 text-3xl font-semibold md:text-4xl">Onmisbare Accessoires voor Tedroka&reg; Drones</h2>
            <p>Batterijen, Waterdichte Rugzakken, Zonne-energie Powerbanks en Meer.</p>

            {% render 'read-more-btn', item: collection_accessoires %}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="px-4 sm:px-10 mt-28">
    <div class="grid items-center justify-center w-full gap-10 mx-auto max-w-7xl md:grid-cols-2">
      <div>
        <h2 class="mb-6 text-3xl font-semibold md:text-4xl">
          Tedroka&reg; - Uw Betrouwbare Partner voor Hoogwaardige Drones en Accessoires
        </h2>
        <p>
          Vertrouw op Tedroka&reg; om uw avontuur in de lucht te ontketenen en geniet van een ongeëvenaarde
          vliegervaring met onze topkwaliteit drones en accessoires.
        </p>
        {% render 'dynamic-read-more-btn', text: 'Bekijk al onze producten', item: all_tedroka_products %}
      </div>
      <div class="w-full h-full">
        <img
          src="{{ all_tedroka_products.products.first.featured_image | image_url: width: '502.5px' }}"
          alt="feature"
          class="object-cover w-full h-full"
          width="502.5"
          height="502.5"
        >
      </div>
    </div>
  </div>

  <div class="relative pt-4 bg-white mt-28 sm:px-10">
    <div
      class="min-h-[400px] relative h-full max-w-7xl mx-auto flex flex-col justify-center items-center text-center px-6 py-16"
    >
      <h2 class="mb-6 text-3xl font-semibold text-black md:text-4xl">
        Vlieg Erboven. En <span class="text-secondary">Erover.</span>
      </h2>
      <video src="https://cdn.shopify.com/videos/c/o/v/d95941b810884f2b86dd7d07b3ab885e.mp4" controls>
        Your browser does not support the video tag.
      </video>
      {% comment %} TODO fix urls {% endcomment %}
      {% render 'dynamic-read-more-btn', item: all_tedroka_products %}
    </div>
  </div>
</div>

<script>
  var toggleOpen = document.getElementById('toggleOpen');
  var toggleClose = document.getElementById('toggleClose');
  var collapseMenu = document.getElementById('collapseMenu');

  function handleClick() {
    if (collapseMenu.style.display === 'block') {
      collapseMenu.style.display = 'none';
    } else {
      collapseMenu.style.display = 'block';
    }
  }

  toggleOpen.addEventListener('click', handleClick);
  toggleClose.addEventListener('click', handleClick);
</script>
