<div class='bg-gray-100'>
  <div class='container mx-auto px-4 py-8'>
    <h1 class='mb-4 text-3xl font-bold'>
      {{ section.settings.title | default: 'Privacy Policy' }}
    </h1>

    <p class='mb-4'>
      {{
        section.settings.intro_text
        | default: 'Dit privacybeleid beschrijft hoe uw persoonlijke informatie wordt verzameld, gebruikt en gedeeld wanneer u onze site bezoekt of een aankoop doet.'
      }}
    </p>

    <h2 class='mb-2 text-2xl font-bold'>
      {{ section.settings.information_we_collect_title | default: 'PERSOONLIJKE INFORMATIE DIE WE VERZAMELEN' }}
    </h2>

    <p class='mb-4'>
      {{
        section.settings.information_we_collect_text
        | default: "Wanneer u de Site bezoekt, verzamelen we automatisch bepaalde informatie over uw apparaat, waaronder informatie over uw webbrowser, IP-adres, tijdzone en enkele van de cookies die op uw apparaat zijn geïnstalleerd. Bovendien verzamelen we tijdens het browsen op de Site informatie over de individuele webpagina's of producten die u bekijkt, welke websites of zoektermen u naar de Site hebben verwezen en informatie over hoe u met de Site omgaat. We verwijzen naar deze automatisch verzamelde informatie als 'Apparaatinformatie'."
      }}
    </p>

    <h2 class='mb-2 text-2xl font-bold'>
      {{ section.settings.how_we_use_information_title | default: 'HOE GEBRUIKEN WIJ UW PERSOONLIJKE GEGEVENS?' }}
    </h2>

    <p class='mb-4'>
      {{
        section.settings.how_we_use_information_text
        | default: 'We gebruiken de bestelinformatie die we over het algemeen verzamelen om alle bestellingen die via de site zijn geplaatst uit te voeren (inclusief het verwerken van uw betalingsinformatie, het regelen van verzending en het verstrekken van facturen en orderbevestigingen). Daarnaast gebruiken we deze Bestelinformatie om: Communiceren met jou; Screen onze bestellingen op mogelijk risico of fraude; en Wanneer in overeenstemming met de voorkeuren die u met ons hebt gedeeld, u informatie of advertenties verstrekken met betrekking tot onze producten of diensten.'
      }}
    </p>

    <h2 class='mb-2 text-2xl font-bold'>
      {{ section.settings.sharing_information_title | default: 'HET DELEN VAN UW PERSOONLIJKE INFORMATIE' }}
    </h2>

    <p class='mb-4'>
      {{
        section.settings.sharing_information_text
        | default: 'We delen uw persoonlijke informatie met derden om ons te helpen uw persoonlijke informatie te gebruiken, zoals hierboven beschreven. We gebruiken Shopify bijvoorbeeld om onze online winkel van stroom te voorzien. U kunt hier meer lezen over hoe Shopify uw persoonlijke gegevens gebruikt: https://www.shopify.com/legal/privacy. We gebruiken ook Google Analytics om ons te helpen begrijpen hoe onze klanten de site gebruiken. U kunt hier meer lezen over hoe Google uw persoonlijke informatie gebruikt: https://www.google.com/intl/en/policies/privacy/. U kunt zich ook hier afmelden voor Google Analytics: https://tools.google.com/dlpage/gaoptout. Ten slotte kunnen we uw persoonlijke informatie ook delen om te voldoen aan toepasselijke wet- en regelgeving, om te reageren op een dagvaarding, huiszoekingsbevel of ander wettig verzoek om informatie die we ontvangen, of om anderszins onze rechten te beschermen.'
      }}
    </p>

    <h2 class='mb-2 text-2xl font-bold'>
      {{ section.settings.your_rights_title | default: 'UW RECHTEN' }}
    </h2>

    <p class='mb-4'>
      {{
        section.settings.your_rights_text
        | default: 'Als u een Europese ingezetene bent, hebt u het recht om toegang te krijgen tot de persoonlijke informatie die wij over u hebben en om te vragen dat uw persoonlijke informatie wordt gecorrigeerd, bijgewerkt of verwijderd. Als u van dit recht gebruik wilt maken, kunt u contact met ons opnemen via onderstaande contactgegevens.'
      }}
    </p>

    <p class='mb-4'>
      {{
        section.settings.data_retention_text
        | default: 'Wanneer u een bestelling plaatst via de Site, bewaren wij uw Bestelinformatie voor onze administratie, tenzij en totdat u ons vraagt om deze informatie te verwijderen.'
      }}
    </p>

    <h2 class='mb-2 text-2xl font-bold'>
      {{ section.settings.changes_to_policy_title | default: 'WIJZIGINGEN' }}
    </h2>

    <p class='mb-4'>
      {{
        section.settings.changes_to_policy_text
        | default: 'We kunnen dit privacybeleid van tijd tot tijd bijwerken om bijvoorbeeld wijzigingen in onze praktijken weer te geven of om andere operationele, wettelijke of regelgevende redenen.'
      }}
    </p>

    <h2 class='mb-2 text-2xl font-bold'>
      {{ section.settings.minors_title | default: 'MINDERJARIGEN' }}
    </h2>

    <p class='mb-4'>
      {{ section.settings.minors_text | default: 'De Site is niet bedoeld voor personen jonger dan 18 jaar.' }}
    </p>

    <h2 class='mb-2 text-2xl font-bold'>
      {{ section.settings.contact_us_title | default: 'CONTACTEER ONS' }}
    </h2>

    <p class='mb-4'>
      {{
        section.settings.contact_us_text
        | default: 'Voor meer informatie over onze privacypraktijken, als u vragen heeft of als u een klacht wilt indienen, kunt u contact met ons opnemen.'
      }}
    </p>
  </div>
</div>
